@font-face{
	font-family:'Courier New';
	src:url('/source/fonts/cour.ttf');
}

@font-face{
	font-family:'m';
	src:url('/source/fonts/muse.ttf')
}

body{
	background-image:url('/source/images/background.jpg');
	background-attachment:fixed;
	background-size:cover;
	background-position:right 25% center;
	background-repeat:no-repeat;
	font-family:'m', 'Courier New','Microsoft Yahei';
	word-break:break-all;
}

:visited, :link{
	text-decoration: none;
}

::selection {
	background-color:rgba(228, 150, 228, 0.5)
}


h1,h2,h3,h4,h5,h6{
	margin:1rem 0;
}

#footer{
	position:fixed;
	left:0;
	right:0;
	bottom:1.5rem;
	width:8.5rem;
	height:1.2rem;
	margin:0 auto 0;
	background-color:rgba(118, 228, 236, 0.5);
	font-weight:bold;
    user-select:none;
	color:blue;
	text-align:center;
	transition:0.4s;
	border-radius: 0.5rem;
}
#footer:hover{
	background-color:rgba(118, 228, 236, 1);
}

#header{
	position:fixed;
	top:0;
	left:0;
	right:0;
	width:100%;
	height:40px;
	background-color:rgba(248,248,255,0.95);
	user-select:none;
}

#header_home{
	height:24px;
	width:24px;
	margin:8px 5% 8px 5%;
	float:left;
	transition: 0.3s;
}
#header_home:hover{
	margin:10px 5% 8px 5%;
}

#header_myself{
	height:32px;
	width:110px;
	float:right;
	margin:4px 0;
	transition: 0.3s;
}
#header_myself:hover{
	margin: 6px 0;
}

#header_myself_icon{
	height:32px;
	width:32px;
	float:left;
	border-radius:50%;
	overflow:hidden;
}

#header_myself_name{
	float:left;
	height:32px;
	width:78px;
}

#header_myself_name_1{
	height:18px;
	width:60px;
	margin:7px auto;
	color:black;
}

.box {
	padding:1%;
	background-color:rgba(255,255,255,0.7);
	overflow:auto;
	border-radius:1rem;
}

#main_box{
	position: absolute;
	top:60px;
	bottom:3.7rem;
	width:60%;
	left:5%;
}

#sidebar{
	position: absolute;
	top:60px;
	width:15%;
	left:70%;
}

.round_button {
	height:1.2rem;
	background-color:rgba(152, 241, 141, 0.5);
    user-select:none;
	color:black;
	display:inline;
	padding:0.1rem 0.5rem;
	line-height: 2rem;
	width:auto;
	border-radius: 0.6rem;
	transition:0.4s;
	word-break:keep-all;
}
.round_button:hover{
	background-color:rgb(59, 202, 90, 1);
}