@font-face{
	font-family:'Courier New';
	src:url('/source/fonts/cour.ttf');
}

@font-face{
	font-family:'m';
	src:url('/source/fonts/muse.ttf')
}

body{
	background-image:url('/source/images/background.jpg');
	background-attachment:fixed;
	background-size:cover;
	background-position:right 25% center;
	background-repeat:no-repeat;
	font-family:'m', 'Courier New','Microsoft Yahei';
	word-break:break-all;
}

:visited, :link{
	text-decoration: none;
	color: black;
}

::selection {
	background-color:rgba(228, 150, 228, 0.5);
}


h1,h2,h3,h4,h5,h6{
	margin:1rem 0;
}
h1{
	font-size:4rem;
	text-align:center;
}

#footer{
	position:fixed;
	left:0;
	right:0;
	bottom:1.5rem;
	width:8.5rem;
	height:1.2rem;
	margin:0 auto 0;
	background-color:rgba(118, 228, 236, 0.5);
	font-weight:bold;
    user-select:none;
	color:blue;
	text-align:center;
	transition:0.4s;
	border-radius: 0.5rem;
}
#footer:hover{
	background-color:rgba(118, 228, 236, 1);
}

#header{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:50px;
	background-color:rgba(248,248,255,0.95);
	user-select:none;
}

.header_item{
	height:40px;
	width:40px;
	margin:8px 0 2px 5%;
	float:left;
	transition: 0.1s;
}
.header_item:hover{
	margin:10px 0 0 5%;
}

#header_myself{
	height:36px;
	width:150px;
	float:right;
	margin:7px 0 0 0;
	transition: 0.1s;
}
#header_myself:hover{
	margin: 9px 0;
}

#header_myself_icon{
	height:36px;
	width:36px;
	float:left;
	border-radius:50%;
	overflow:hidden;
}

#header_myself_name{
	float:left;
	font-size:1.5em;
	margin:3px 10px;
}

.box {
	padding:1%;
	background-color:rgba(255,255,255,0.7);
	overflow:auto;
	border-radius:1rem;
	scrollbar-width: thin;
}

#main_box{
	position: absolute;
	top:70px;
	bottom:3.7rem;
	width:60%;
	left:5%;
}

#sidebar{
	position: absolute;
	top:70px;
	width:15%;
	left:70%;
	user-select: none;
}
#sidebar div{
	margin-bottom: 2rem;
	padding: 5%;
}
#sidebar_myself li{
	transition: 0.6s;
}
#sidebar_myself li:hover{
	transform: rotate(360deg);
}

.round_button {
	height:1.2rem;
	background-color:rgba(152, 241, 141, 0.5);
    user-select:none;
	color:black;
	display:inline;
	padding:0.1rem 0.5rem;
	line-height: 2rem;
	width:auto;
	border-radius: 0.6rem;
	transition:0.4s;
	word-break:keep-all;
}
.round_button:hover{
	background-color:rgb(59, 202, 90, 1);
}

.article{
	border:black solid 1px;
	padding:1rem;
	border-radius: 2rem;
	position: relative;
	height:20em;
	overflow:hidden;
	margin-bottom:1rem;
}
.curtain{
	background-image: linear-gradient(rgba(255,255,255,0),rgba(255,255,255,0.8),rgba(255,255,255,1));
	position:absolute;
	width:100%;
	height:4em;
	bottom:0;
	left:0;
	user-select:none;
}
.curtain .rdm{
	width:7em;
	margin:2em auto 1em;
	border:black solid 2px;
	text-align:center;
	border-radius:1em;
}
.cls{
	width:4em;
	margin:auto;
	bottom: 0;
	position: absolute;
	border:black solid 2px;
	text-align:center;
	border-radius:1em;
	display:none;
	user-select: none;
}
.subtitle{
	text-align: center;
	font-family:m;
	font-size: 1.3em;
}